<div class="flex-grid-links">
  <div class="col navigation">
    <%= link_to 'Edit', edit_expense_category_path(@expense_category) %>
  </div>
  <div class="col navigation">
    <%= link_to 'Back', expense_categories_path %>
  </div>
</div>

<% if notice != nil %>
  <div class="flex-grid">
    <div class="col">
      <i class="fas fa-check-circle" id="notice"> <%= notice %></i>
    </div>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @expense_category.name %>
</p>

