/* ----------- Phone ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1080px)
  and (-webkit-min-device-pixel-ratio: 3) {


    /* Header Mobile */
    header {
      background-color: rgb(0, 0, 0);
      padding: 50px;
      margin: 0;
    }

    header nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    header nav .flex-grid {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      color: #fff;
    }

    link_to {
      color: #fff;
      font-size: 40px;
    }

    /* Body Mobile */
    /* Basic Grid Layout */
    body {
      padding: 20px;
    }
    * {
      box-sizing: border-box;
    }

    .flex-grid {
      display: flex;
      margin: 0 0 20px 0;
      flex-direction: column;
    }
    .flex-grid .col {
      flex: 1;
    }
    .col {
      background: rgb(250, 128, 114);
      padding: 20px;
    }
    .flex-grid-thirds {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .flex-grid-thirds .col {
      width: 32%;
    }

    /*  */

    h1 {
      text-align: center;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1080px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1080px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
      background-color: rgb(83, 161, 116);
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}




/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

    header {
      background-color: #fff;
    }


    body {
      background-color: rgb(169, 233, 152);
    }
}