/* --------  Global Styles ---------------*/
@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

/* ------------------------------------------ */
/* ---------------- Container --------------- */
.container {
  /* border: 2px solid brown; */
  font-family: 'Cute Font', cursive;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 50px;
}

a {
  text-decoration: none;
}

/* ------------------------------------------ */
/* ------------ Basic Grid Layout ----------- */
body {
  /* background-color: salmon; */
  font-size: 13px;
  line-height: 18px;
  color: #333;
  padding: 20px;
}
.flex-grid {
  display: flex;
  margin: 0 0 20px 0;
}
.flex-grid .col {
  flex: 1;
}
.col {
  /* border: 2px solid red; */
  padding: 20px;
}
.flex-grid-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 45px;
  align-items: center;
}


/* ------------------------------------------ */
/* ----------------- HEADER ---------------- */

.flex-grid-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 45px;
}
.flex-grid-header .col{
  width: 50%;
}

header {
  /* background-color: rgb(0, 0, 0); */
  border-bottom: 4px solid salmon;
  /* padding: 20px; */
}

header a{
  color: #333;
}

header #home{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  align-items: baseline;
  margin-top: 20px;
}

#brand-name a {
  font-family: 'Sacramento', cursive;
  color: salmon;
  margin-left: 20px;
  /* align-items: baseline; */
}

header #login{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

header .current-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  width: 100%;
}

#gravata img {
  border: 3px solid salmon;
  border-radius: 5em;
  margin-right: 25px;
}

#gravata-name {
  font-family: 'Cute Font', cursive;
  font-size: 50px;
  color: salmon;
}

header .link-login {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  width: 100%;
  font-family: 'Sacramento', cursive;
}

header .admin-login {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 30px;
  font-family: 'Cute Font', cursive;
}
/* ------------------------------------------- */
/* ---------- LAYOUT LINKS NAVIGATION -------- */
.flex-grid-links .navigation {
  /* border: 1px solid #333; */
  /* background-color: #ccc; */
  width: 50%;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 5px;

}
.flex-grid-links .navigation a {
  color: #666;
}

/* ---------------------------------------------------------- */
/* ----------- LAYOUT MY TRIP SUMMARY • NAME & DATE --------- */

.flex-grid .name-trip {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 80px;
  padding: 20px;
}

.flex-grid .name-trip p:nth-child(2) {
  font-size: 65px;
  margin-left: 30px;
  color: #666;
}

.flex-grid .name-trip p:nth-child(2) i{
  color: salmon;
}

.flex-grid .date-trip {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 50px;
}

.flex-grid .date-trip i {
  color: salmon;
}
.flex-grid .date-trip p:nth-child(2) {
  margin-left: 30px;
}

/* ---------------------------------------------------------- */
/* ----------- LAYOUT MY TRIP SUMMARY • INFO BUDGET --------- */

.flex-grid .all-budget {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: row;
}

.flex-grid .budget-trip {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 50px;
  padding: 20px;
  letter-spacing: 1px;
  width: 70%;
  line-height: 50px;
}
.flex-grid .budget-trip i {
  color: #666;
}
.flex-grid .budget-trip span {
  color: salmon;
}
.flex-grid .expense-trip {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 60px;
  padding: 20px;
  letter-spacing: 1px;
  width: 30%;
  line-height: 70px;
}
.flex-grid .expense-trip i {
  color: #666;
}
.flex-grid .expense-trip p:first-child {
  text-align: center;
  font-size: 45px;
  color: salmon;
}

/* -------------------------------------------- */
/* ------------ LAYOUT LINKS ACTIONS ---------- */
.flex-grid-links .actions {
  /* border: 1px solid #333; */
  border-top: 4px dashed salmon;
  width: 20%;
  height: 50px;
}

.flex-grid-links .actions a {
  color: salmon;
}

/* -------------------------------------------- */
/* ------------ ADD EXPENSE PAGE ------------- */

.submit-button input {
  /* background-color: #ccc;
  border: 2px solid salmon;
  border-radius: 2em;
  color: salmon;
  font-size: 40px; */
}

/* -------------------------------------------- */
/* ---------- TRIP INDEX PAGE ----------------- */

table, th, td {
  /* border: 1px solid black; */
}

table {
  width: 100%;
  margin-bottom: 60px;
}
thead {
  color: salmon;
  font-size: 60px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
tbody {
  /* particularized on each device */
}

tbody a {
  color: #666;
  font-size: 60px;
}

th {
  height: 40px;
  vertical-align: bottom;
}

td {
  height: 20px;
  vertical-align: center;
}

th, td {
  padding: 15px;
  text-align: left;
}

#single-link {
  width: 100%;
}

/* -------------------------------------------- */
/* ----------- EXPENSE HISTORY PAGE ----------- */

#trip-info-history {
  display: flex;
  font-size: 58px;
}
#trip-info-history p:first-child {
  color: #ccc;
  margin-right: 15px;
  font-size: 48px;
}

/* -------------------------------------------- */
/* ----------- LOGIN FORM PAGE ----------- */

/* GENERAL FORM */
form {
  display: flex;
  flex-direction: column;
  border: 3px dashed #333;
  border-radius: 2em;
  background-color: salmon;
  margin: auto;
  width: 90%;
  padding: 5px;
}

form .col {
  padding: 5px;
}

/* INSIDE THE FORM */
.flex-grid #login-form {
  display: flex;
  flex-direction: row;
  font-size: 65px;
  margin-top: 60px;
  /* padding-left: particularized on each device */
}

/* LABEL LOGIN POSTION */
#login-form label {
  display: block;
  width: 220px;
  text-align: left;
  text-decoration: underline;
}

/* INPUT TO ENTER EMAIL & PASSWORD */
#login-form input, select {
  color: salmon;
  font-size: 30px;
  border: 1px solid #333;
  border-radius: 0.3em;
  margin-left: 35px;
  min-width: 350px;
}

input {
  padding-left: 15px;
  padding-right: 15px;
}

#login-form ::placeholder {
  color: #ccc;
  text-align: left;
}

/* LOGIN SUBMIT BUTTON */
.form-submit {
  /* border: solid 2px blue; */
  padding: 0;
  display: flex;
  justify-content: end;
}
.form-submit-placeholder {
  width: 100%;
}

.form-submit-action {
  width: 25%;
  padding: 20px;
}

.form-submit-action > * {
  width: 100%;
}

.form-submit-action [type=submit] {
  background-color: #ccc;
  border: 3px solid #333;
  border-radius: 0.3em;
  color: #333;
  font-size: 35px;
}

/* SIGNUP NOW - BAR */
#submit-button {
  text-align: center;
  font-size: 75px;
  border: 3px solid #666;;
  border-radius: 0.3em;
  background-color: #ccc;
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-top: 40px;
}

#submit-button a {
  color: white;
}



/* -------------------------------------------- */
/* ------------- DEVICES ---------------------- */
/* -------------------------------------------- */
/* -------------- Small screen ---------------- */
@media only screen and (min-width: 540px) {

  body {
    /* background-color: rgb(169, 165, 177); */
  }
  #brand-name a {
    font-size: 55px;
  }
  #gravata-name {
    font-size: 100px;
  }
  #logout {
    font-size: 48px;
  }
  .flex-grid-links .actions a {
    font-size: 50px;
  }
  header .admin-login {
    font-size: 47px;
  }
  h1 {
    font-size: 120px;
  }
  tbody {
    font-size: 45px;
    color: #666;
  }
  .flex-grid #login-form {
    padding-left: 120px;
  }
  #login-form select {
    min-width: 380px;
  }
  .form-submit-action [type=submit] {
    font-size: 25px;
  }

}

/* -------------------------------------------- */
/* ------------ Large screen ------------------ */
@media only screen and (min-width: 1200px) {

  body {
    /* background-color: rgb(30, 114, 41); */
  }

  #brand-name a {
    font-size: 80px;
  }

  #gravata-name {
    font-size: 50px;
  }
  #logout {
    font-size: 40px;
  }
  .flex-grid-links .actions a {
    font-size: 60px;
    letter-spacing: 5px;
  }
  header .admin-login {
    font-size: 60px;
  }
  h1 {
    font-size: 160px;
  }
  .submit-button input {
    padding: 10px;
  }
  tbody {
    font-size: 60px;
    color: #ccc;
  }
  .flex-grid #login-form {
    padding-left: 320px;
  }

  #login-form select {
    min-width: 382px;
  }
  .form-submit-action [type=submit] {
    font-size: 35px;
  }
}
