/* --------  Global Styles ---------------*/
@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

/* --------- Basic Grid Layout --------- */
body {
  /* background-color: salmon; */
  font-size: 13px;
  line-height: 18px;
  color: #333;
  padding: 20px;
}
.flex-grid {
  display: flex;
  margin: 0 0 20px 0;
}
.flex-grid .col {
  flex: 1;
}
.col {
  /* border: 2px solid red; */
  padding: 20px;
}
.flex-grid-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 45px;
}
.flex-grid-links .col {
  width: 25%;
}
.flex-grid-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 45px;
}
.flex-grid-header .col{
  width: 50%;
}

/* ------- Container ---------- */
.container {
  /* border: 2px solid brown; */
  font-family: 'Cute Font', cursive;
  margin: 0 auto;
}

/* ----------- header --------- */

header {
  /* background-color: rgb(0, 0, 0); */
  border-bottom: 3px solid salmon;
  /* padding: 20px; */
}

header a{
  color: #333;
}

header #home{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  align-items: baseline;
}

#brand-name a {
  font-family: 'Sacramento', cursive;
  color: salmon;
  margin-left: 20px;
  /* align-items: baseline; */
}

header #login{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

header .current-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  width: 100%;
}

#gravata img {
  border: 3px solid salmon;
  border-radius: 5em;
  margin-right: 25px;
}

#gravata-name {
  font-family: 'Cute Font', cursive;
  font-size: 50px;
  color: salmon;
}

header .link-login {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  width: 100%;
}

header .admin-login {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 30px;
  font-family: 'Cute Font', cursive;
}

h1 {
  text-align: center;
  padding: 50px;
}

a {
  text-decoration: none;
}





/* ------------- DEVICES --------------- */
/* ----------- Small screen ----------- */
@media only screen and (min-width: 540px) {

  body {
    /* background-color: rgb(169, 165, 177); */
  }

  #brand-name a {
    font-size: 55px;
  }

  #gravata-name {
    font-size: 100px;
  }
  #logout {
    font-size: 45px;
  }

  header .admin-login {
    font-size: 47px;
  }

  h1 {
    font-size: 120px;
  }
}

/* ----------- Large screen ----------- */
@media only screen and (min-width: 992px) {

  body {
    /* background-color: rgb(30, 114, 41); */
  }

  #brand-name a {
    font-size: 80px;
  }

  #gravata-name {
    font-size: 60px;
  }
  #logout {
    font-size: 35px;
  }

  header .admin-login {
    font-size: 60px;
  }

  h1 {
    font-size: 160px;
  }
}

/* ----------- Extra large ----------- */
@media only screen and (min-width: 1200px) {

  body {
    /* background-color: rgb(171, 173, 30); */
  }
}